body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.top{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.hero{
  grid-column: span 2;
  grid-row: span 2;
  min-height: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background: url(./images/taco.jpg);
  background-position: bottom left;
  background-size: cover;
}

.hero > *{
  padding: 5px;
  background: var(--yellow);
}

.cta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}

.cta > p{
  margin: 0px;
}

.price{
  font-size: 60px;
  font-weight: 300;
}

[aria-controls="menu-list"]{
  display: none;
}

#menu-list{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  gap: 20px;
  padding: 0;
  margin: 30px 0px;
}

#menu-list li{
  list-style: none;
  background-color: var(--yellow);
  padding: 10px;
}
#menu-list li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--black);
}

.features{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  gap: 20px;
}

.feature{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.feature .icon{
  font-size: 50px;
}

.feature p{
  color: rgba(0,0,0,0.5);
}

.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  margin: 20px 0;
  padding:50px;
}

.about__details{
  margin: auto 0;
}





@media (max-width: 700px) {
  .top{
    grid-template-columns: repeat(2, 1fr);
  }
  .hero{
    grid-column: 1 / -1;
  }
}

@media (max-width: 500px) {
  .top{
    grid-template-columns: 1fr;
  }

  .about{
    grid-template-columns: 1fr;
    background-color: white;
    margin: 20px 0;
    padding:25px;
  }
}

@media (max-width: 300px) {
  .features{
    grid-template-columns: 1fr;
  }
}

